@keyframes shineEffect {
  0% {
    background-position: -200% center;
  }
  100% {
    background-position: 200% center;
  }
}

.shinyText {
  background: linear-gradient(
    120deg,
    #6B41C7 25%,
    #A8DE28 50%,
    #6B41C7 75%
  );
  background-size: 200% auto;
  color: #6B41C7;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shineEffect var(--animation-duration, 4s) linear infinite;
  display: inline-block;
}
